@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --mb-duration-fast: 100ms;
    --mb-duration-default: 150ms;
    --mb-duration-slow: 250ms;
    --mb-ease-in: cubic-bezier(0.4, 0, 1, 1);
    --mb-ease-out: cubic-bezier(0, 0, 0.2, 1);
  }

  a {
    text-decoration: underline;
    -webkit-tap-highlight-color: transparent;
  }

  button {
    -webkit-tap-highlight-color: transparent;
  }
}

@layer components {
  .drawer-content {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
  }
}

@layer utilities {
  .border-gradient {
    border-image: linear-gradient(
        to right,
        theme(colors.blue.700),
        theme(colors.blue.900)
      )
      1;
  }
}
